/* BASE */

@font-face {
	font-family: 'raleway';
	font-style: normal;
	font-weight: 700;
	src: url('https://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
}

* {
	outline: 0px;
	text-decoration: none;
}

html, body {
	background: #FFFFFF;
	margin: 0 auto;
}

::selection {
	background: rgba(243,201,179,0.2);
}
::-moz-selection {
	background: rgba(243,201,179,0.2);
}


/* HEADER */

#header {
	background: #F9F7F6;
	height: 150px;
	left: 57px;
	position: fixed;
	top: 57px;
	width: 325px;
	z-index: 9000;
}

h1 {
	color: #DDDBDC;
	font-family: 'raleway', sans-serif;
	font-size: 70px;
	margin-left: 10px;
	margin-top: 8px;
}

h2 {
	color: #DDDBDC;
	font-family: 'raleway', sans-serif;
	font-size: 25px;
	margin-left: 14px;
	margin-top: -45px;
}

h2 a {
	border-bottom: #F8C6AD solid 3px;
	color: #DDDBDC;
	-webkit-transition: color 0.1s ease-in-out 0s;
		-moz-transition: color 0.1s ease-in-out 0s;
		-o-transition: color 0.1s ease-in-out 0s;
		transition: color 0.1s ease-in-out 0s;
}

h2 a:hover {
	color: #F8C6AD;
}


/* CONTENT */

#border {
	text-align: center;
	height: calc(100vh - 114px);
	margin-left: 57px;
	margin-top: 57px;
	width: calc(100% - 114px);
}

#border:last-child {
	margin-bottom: 57px;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#content img {
	border: 20px solid #F9F7F6;
	margin: 0 auto;
	vertical-align: middle;
}

hr {
	border: none;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
