/* BASE */

@font-face {
	font-family: "bold";
	src: url("assets/fonts/GillSans_Droptokyo_Bold.woff") format("woff");
}

* {
	font-style :normal;
	font-weight: normal;
	font-size: 100%;
	outline: 0px;
	text-decoration: none;
}

html, body {
	background: #868489;
	margin: 0px;
}

body {
	margin: 0px;
}

#border {
	background: #F0D6B5;
	box-shadow: 7px 0px 30px rgba(195, 110, 56, 0.2);
	text-align: center;
	overflow-y: scroll;
	height: calc(100vh - 60px);
	margin: 30px;
}

::selection {
	background: rgba(243,201,179,0.2);
}

::-moz-selection {
	background: rgba(243,201,179,0.2);
}


/* HEADER */

#header {
	height: calc(65vh + 60px);
}

#header #top {
	background: #D8C0A3;
	height: 120px;
}

#header h1, #header a, #header .punpun {
	color: #020201;
	font-family: "bold", sans;
}

#header h1 {
	font-size: 130px;
	margin-top: 48px;
}

#header #links {
	margin-top: 44px;
}

#header a, #header .punpun {
	border-bottom: 3px solid #020201;
	font-size: 14px;
	margin-left: 18px;
	margin-right: 18px;
}

#header .punpun {
	border-bottom: none !important;
	font-size: 22px !important;
	position: relative;
	top: 5px;
	right: 12px;
}

#header a:hover {
	color: #615749;
}


/* CONTENT */

#content {
	background: #FFFFFF;
	margin: 0 auto;
	width: 1000px;
}

#content h1, #content h2 {
	color: #020201;
	clear: both;
	float: left;
	position: relative;
	margin-left: 50px;
	font-weight: bold;
	text-align: left;
	padding: 15px 0;
	width: 500px;
}

#content h1 {
	border-bottom: 4px solid #020201;
	font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro";
	margin-top: -10px;
}

#content h2 {
	font-family: "bold", sans;
	font-size: 11px;
	margin-top: 50px;
}

#content img {
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 15px;
}